{% extends 'blog/base.html' %}

  {% block content %}
    <div class="post">
    <h1>Информация о кафедре</h1>
    <h2>История кафедры</h2>
    <p>Кафедра геоинформатики основана в 1995 году профессором, доктором геолого-минералогических наук, действительным членом SEG Писецким В.Б. на основе нескольких научных коллективов. В составе кафедры 12 преподавателей, в том числе 3 профессора, 3 доцента, 2 старших преподавателя, 3 преподавателя и 1 ассистент.</p>
    <p>Кафедра выпускала инженеров по специальности 130201 «Геофизические методы поиска и разведки месторождений полезных ископаемых». С 1999 года открыто обучение по очной и ускоренной форме по специальности 230201 «Информационные системы и технологии».</p>
    <p>Кафедра готовит специалистов в области прикладных наук о Земле. За это время было выпущено 238 специалистов. Первые же выпуски инженеров по этой специальности показали высокий уровень квалификации и спроса этих специалистов в отраслях разведки и разработки недр, магистральных трубопроводов, транспорте, связи и др. Выпускники кафедры работают в Сибири, на Урале, в Европейской части России.</p>
    <h2>Научно-исследовательские работы кафедры</h2>
    <ul>
      <li>Прогноз и оценка нефтегазовых ресурсов по геолого-геофизическим данным</li>
      <li>Создание геоинформационных пакетов на территорию недропользования</li>
    </ul>
    <p>Наиболее успешно научная работа ведется коллективом научной лаборатории геофизических систем в области оценки перспектив нефтегазоносности. Выполняется большой объем научно-технических заказов нефтяных компаний России и других стран. На сегодняшний день за последние 5 лет выполнены контракты с компаниями:</p>
    <ul>
      <li>ЛУКОЙЛ- 16 контрактов по Западной Сибири</li>
      <li>ТАТГЕОЛКОМ — 9 контрактов</li>
      <li>ТЮМЕНЬПРОМГЕОФИЗИКА – 5 контрактов</li>
      <li>ЦГЭ Миннефтепрома РФ – 12 контрактов</li>
      <li>Комитет по нефти и газу Ханты-Мансийского округа – 4 контракта</li>
      <li>Департамент энергии США – научный гранд 2000-2002 гг.</li>
      <li>PEMEX (Мексика) – 2 выполнено, 6 заключено</li>
      <li>И другие</li>
    </ul>
    <p>За счет значительных внебюджетных средств от нефтяных кампаний по научному направлению кафедры приобретены все необходимые программно-технические средства, обеспечивающие как научный, так и образовательные процесс в полном объеме и на необходимом уровне. За счет этих же средств помещения кафедры приведены в должный порядок с обеспечением всех необходимых условий и удобств для научных работ и проведения учебных занятий.</p>
    <p><a href="/teachers">Список преподавателей</a></p>
    <p><a href="/subjects">Список читаемых дисциплин</a></p>
  </div>
  {% endblock %}
