{% extends 'blog/base.html' %}

  {% block content %}
    <div class="post">
    <h1>Контактная информация</h1>
    <p><b>Телефон: </b>+7 (343) 257-66-61</p>
    <p><b>Адрес: </b>620144, Россия, г. Екатеринбург, ул. Хохрякова, 85, 3 уч. здание Уральского Государственного Горного Университета, 2 этаж, аудитория 3223</p>
    <p><b>E-mail: </b>FGG.GIN@m.ursmu.ru</p>
    <h2>Схема проезда</h2>
    <img src="https://pp.vk.me/c631631/v631631138/30e2a/ErtKYAKTIa0.jpg" alt="Схема проезда" class="myIMG" width="100%">
  </div>
  {% endblock %}
