{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
  <div class="greet">
  <h4><b>Добро пожаловать на сайт кафедры геоинформатики УГГУ</b></h4>
  </div>
  <hr>
  <h2>Последние новости</h2>
</div>
        {% for post in posts %}
            <div class="post">
                 <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.text|safe|linebreaks|truncatewords:175 }}</p>
                <div class="date">
                    {{ post.published_date }}
                </div>
                <hr>
            </div>
        {% endfor %}
        <div class="pages" align="center">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">Previous</a>
        {% endif %}

    <span class="current">
        Страница {{ posts.number }} из {{ posts.paginator.num_pages }}.
    </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Next</a>
        {% endif %}
      </div>
    {% endblock content %}
