{% extends 'blog/base.html' %}

{% block content %}
        {% for post in posts %}
            <div class="post">

                 <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.text|safe }}</p>
                <div class="date">
                    {{ post.published_date }}
                </div>
            </div>
        {% endfor %}
        <div class="pages" align="center">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">Previous</a>
        {% endif %}

    <span class="current">
        Страница {{ posts.number }} из {{ posts.paginator.num_pages }}.
    </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Next</a>
        {% endif %}
      </div>
    {% endblock content %}
