<html>
       <head>
           <title>Geoinformanics department</title>
       </head>
       <body>
           <div>
               <h1><a href="">Сайт кафедры геоинформатики УГГУ</a></h1>
           </div>

           <div>
               <p>published: 19.05.2016, 12:14</p>
               <h2><a href="">Первый пост</a></h2>
               <p>Геоинформатика — наука, технология и производственная деятельность по научному обоснованию, проектированию, созданию, эксплуатации и использованию географических информационных систем, по разработке геоинформационных технологий, по приложению ГИС для практических и научных целей.</p>
           </div>

           <div>
               <p>published: 19.05.2016, 19:32</p>
               <h2><a href="">Второй пост</a></h2>
               <p>Входит как составная часть в геоматику. Русский термин «геоинформатика» производный от термина «информатика» — иностранного заимствования, обозначающего научное направление, которое изучает теорию, методы и способы накопления, обработки и передачи данных, информации и знаний с помощью ЭВМ и других технических средств, или группу дисциплин, занимающихся различными аспектами применения и разработки вычислительных машин, куда обычно относят прикладную математику, программирование, программное обеспечение, искусственный интеллект, архитектуры ЭВМ и вычислительные сети.</p>
           </div>
       </body>
   </html>
