{% extends 'blog/base.html' %}

  {% block content %}
    <div class="post">
      <h1>Список дисциплин, закрепленных за кафедрой:</h1>
      <ul>
     <li>Информатика</li>
     <li>Теория сигналов и систем</li>
     <li>Геостатистика</li>
     <li>Дистанционное зондирование земли</li>
     <li>Математическое моделирование геофизических полей</li>
     <li>Теория информационных процессов и систем</li>
     <li>Информационные технологии</li>
     <li>Архитектура информационных систем</li>
     <li>Технологии программирования</li>
     <li>Управление данными</li>
     <li>Технологии обработки информации</li>
     <li>Интеллектуальные системы и технологии</li>
     <li>Операционные системы</li>
     <li>Методы и средства проектирования информационных систем и технологий</li>
     <li>Инфокоммуникационные системы и сети</li>
     <li>Информационная безопасность и защита информации</li>
     <li>Основы геоинформатики</li>
     <li>Геоинформационные системы в недро- и природопользовании</li>
     <li>Компьютерная геометрия и графика</li>
     <li>Мультимедиа технологии программных продуктов</li>
     <li>Основы картопостроения</li>
     <li>Основы геофизических методов</li>
     <li>Структурная геофизика</li>
     <li>Геофизические информационные системы в нефтегазовой отрасли</li>
     <li>Методы разработки информационных баз данных</li>
     <li>Программирование на языке высокого уровня</li>
     <li>Администрирование в информационных системах</li>
     <li>Стандартизация и сертификация</li>
   </ul>
    </div>
  {% endblock %}
