{% extends 'blog/base.html' %}

  {% block content %}
    <div class="post">
    <h1>Преподавательский состав кафедры</h1>
    <hr>
    <h3>Писецкий Владимир Борисович</h3>
    <p>Заведующий кафедрой, доктор геолого-минералогических наук, заслуженный геолог РФ. Сфера научных интересов - исследование нефтегазовых бассейнов по сейсмическим данным и разработка сейсмических технологий оценки напряженного состояния горного массива.</p>
    <p>Читает курсы лекций: введение в специальность, структурная геофизика, компьютерные технологии в нефтегазовой отрасли.</p>
    <hr>
    <h3>Серков Владимир Алексеевич</h3>
    <p>Заместитель заведующего кафедрой, доцент, кандидат геолого-минералогических наук. Окончил СГИ в 1971 г. Сфера научных интересов - нейросетевые технологии интерпретации геолого-геофизических данных.</p>
    <p>Читает курсы лекций: информатика, архитектура ЭВМ и систем, разведочная геофизика, математическое моделирование геофизических полей.</p>
    <hr>
    <h3>Шилина Галина Васильевна</h3>
    <p>Доцент, кандидат геолого-минералогических наук. Окончила СГИ в 1978 г. Сфера научных интересов - теория ГИС.</p>
    <p>Читает курсы лекций: геоинформационные технологии, основы геоинформатики, теория информационых процессов, проектирование ИС.</p>
    <hr>
    <h3>Зудилин Александр Эдуардович</h3>
    <p>Доцент, кандидат геолого-минералогических наук. Окончил СГИ в 1984 г. Сфера научных интересов - программное обеспечение геофизических исследований в нефтяной и инженерной геологии.</p>
    <p>Читает курсы лекций - технологии программирования, управление данными, прграммирование на языке высокого уровня, методы проектирования ИС.</p>
    <hr>
    <h3>Патрушев Юрий Владимирович</h3>
    <p>Преподаватель. Окончил СГИ в 1986 г. Сфера научных интересов - ислледования напряженно-деформированных состояний горных выработок.</p>
    <p>Читает курсы лекций: дистанционное зондирование земли, интеллектуальные системы и технологии</p>
    <hr>
    <h3>Самсонов Владимир Иванович</h3>
    <p>Старший преподаватель. Окончил СГИ в 1980 г. Сфера научных интересов - обработка сейсмических данных в нефтяной и инженерной геофизике.</p>
    <p>Читает курсы лекций: теория сигналов и систем, цифровая обработка сигналов, администрирование в ИС.</p>
    <hr>
    <h3>Зудилина Людмила Ивановна</h3>
    <p>Преподаватель, окончила СГИ в 1990 г. Сфера научных интересов - использование ГИС в недрапользовании.</p>
    <p>Ведет практические занятия по ГИС для всех специальностей УГГУ</p>
    <hr>
    <h3>Силина Тамара Сергеевна</h3>
    <p>Доцент, кандидат геолого-минералогических наук. Окончила СГИ в 1978 г. Сфера научных интересов - геофизические исследования скважин, обработка сейсмической информации.</p>
    <p>Читает курсы лекций: геоинформационные системы в нефтегазовой отрасли</p>
    <hr>
    <h3>Шинкарюк Владислав Александрович</h3>
    <p>Преподаватель, окончил УГГУ в 2010 г. Сфера научных интересов - геомеханическое моделирование на основе сейсмической информации.</p>
    <p>Читает курсы лекций: информационна безопасность и защита информации.</p>
    <hr>
    <h3>Воронин Олег Михайлович</h3>
    <p>Преподаватель, окончил СГИ в 1988 г. Сфера научных интересов - структурные построения по сейсмическим данным. </p>
    <p>Читает курсы лекций: компьютерная геометрия и графика, мультимедиа технологии, информационные сети.</p>
    <hr>
    <h3>Джуринская Елена Анатольевна</h3>
    <p>Секретарь кафедры.</p>
    <hr>
  </div>
  {% endblock %}
